<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/order/{{h_id}}/1" method="post">
        <input type="date" name="cin"> check in date <br>
        <input type="date" name="cout"> check out date <br>
        <input type="text" name="c_id" style="display: none;" value="1">
        <input type="submit">
    </form>
</body>
</html>